.dashboard-container {
  background-color: #0d0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.post-card {
  display: flex;
  flex-direction: column;
  background-color: #1e1c1c;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}

.post-card:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.post-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.post-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-year {
  font-size: 1rem;
  margin-bottom: 5px;
}

.post-info {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.post-info-label {
  font-weight: bold;
}

.btn {
  margin-top: 20px;
}

.btn button {
  margin-left: 10px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn button:hover {
  background-color: #3e8e41;
}

.btn-review button {
  margin-left: 5px;
  background-color: #2196f3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-review button:hover {
  background-color: #0d8bf2;
}
